@import "../../../style/Variables.scss";

.form-control {
  margin: 0.5rem 0;

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;

    &:focus {
      outline: none;
      background: $rose-color;
      border-color: $primal-color;
    }
  }
}

.form-control.invalid {
  input {
    border-color: $red-color;
    background-color: $red-color;
  }

  label {
    color: $red-color;
  }
}
